<%= form_tag admin_sessions_path, :class => 'form-signin' do %>
  <h2 class= "form-sigin-heading">Admin Login</h2>
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <%= flash[:notices] %>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <%= text_field_tag :login, params[:login], class:'form-control', placeholder: 'Email Atau Nama' %>
  <%= password_field_tag  :password, params[:password], class:'form-control', placeholder: 'Password' %>
</p>
<%= submit_tag "Log In", class: "btn btn-lg btn-primary btn-block" %>
<% end %>
