<div class='container-fluid'>
  <div class='row'>
    <div class='col-xs-12 col-sm-12 col-md-12'>

      <% if @engineers.present? %>
      <h3 class='lead'>Daftar Tenaga Ahli&nbsp;&nbsp;<% if current_user %><%= link_to 'Daftar Engineer', new_engineer_path, class: 'btn btn-default' %><% end %></h3>
      <table class='table table-hover table-striped'>
        <thead>
          <tr>
            <th>Nama</th>
            <th>Jabatan</th>
            <th>Pendidikan Terakhir</th>
            <th>Keahlian</th>
            <% if current_user %>
            <th colspan="1"></th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% @engineers.each do |engineer| %>
            <tr>
              <td><%= engineer.name %></td>
              <td><%= engineer.functionality %></td>
              <td><%= engineer.last_graduate %></td>
              <td><%= engineer.skill %></td>
              <% if current_user %>
              <td><%= link_to 'Edit', edit_engineer_path(engineer), class:'btn btn-warning' %>&nbsp;&nbsp;<%= link_to 'Destroy', engineer, method: :delete, data: { confirm: 'Anda Yakin?' }, class:'btn btn-danger' %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>
      <% else %>

      <h3 class='lead'>Maaf Data Yang Anda Cari Belum Ada ..&nbsp;&nbsp;<% if current_user %><%= link_to 'Daftar Engineer', new_engineer_path, class: 'btn btn-default' %><% end %></h3>
      <% end %>

    </div>
  </div>

</div>
