<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @engineer.name %>
</p>

<p>
  <strong>Functionality:</strong>
  <%= @engineer.functionality %>
</p>

<p>
  <strong>Last graduate:</strong>
  <%= @engineer.last_graduate %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @engineer.skill %>
</p>

<%= link_to 'Edit', edit_engineer_path(@engineer) %> |
<%= link_to 'Back', engineers_path %>
