<div class="well">
  <h3 class="lead">Daftar User</h3>

  <table class= "table table-hover table-striped">
    <thead>
      <tr>
        <th>Nama</th>
        <th>Email</th>
        <th>Tanggal Dibuat</th>

        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.created_at %></td>
        
          <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
          <td><%= link_to 'Hapus', admin_user_path(user), method: :delete, data: { confirm: 'Anda Yakin?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <%= link_to 'Buat User', new_admin_user_path, class: "btn btn-success" %>
</div>
