<h1>Listing Postjobs</h1>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Client</th>
      <th>Timestamp</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @postjobs.each do |postjob| %>
      <tr>
        <td><%= postjob.title %></td>
        <td><%= postjob.content %></td>
        <td><%= postjob.client_id %></td>
        <td><%= postjob.timestamp %></td>
        <td><%= postjob.price %></td>
        <td><%= link_to 'Show', postjob %></td>
        <td><%= link_to 'Edit', edit_postjob_path(postjob) %></td>
        <td><%= link_to 'Destroy', postjob, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Postjob', new_postjob_path %>
