<!DOCTYPE html>
<html>
<head>
  <title>Projekpedia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'logo.ico', :rel => 'shortcut icon' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'partition/navigation' %>

<% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notices] %>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>
<%= yield %>

</body>
</html>
